h1{
	color: green;
	background-color: rgba(100,200,155,1);
	border: 5px solid red;
}
li
{
	color: yellow;
}

body
{
	background: url(https://www.bing.com/images/search?q=graphics+beam+background+image&id=F51D93760CAF2B27DD4CF8CAB58C65C5A26393EF&FORM=IQFRBA);
}